<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper .//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.newIns.dao.LoadVqnMapper">
 	<resultMap type="com.newIns.model.vote.VoteQuestionnaire" id="vqnItemMapper">
 	</resultMap>
	
 		
	<select id="loadVqn" resultMap="vqnItemMapper" parameterType="java.lang.Integer">
		SELECT ni_vote_questionnaire.*,ni_vqnclass_dict.vqnClassName
		FROM ni_vote_questionnaire,ni_vqnclass_dict
		WHERE vqnId=#{vqnId} and ni_vote_questionnaire.vqnClassId = ni_vqnclass_dict.vqnClassId			
	</select>
	
	</mapper>