<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newIns.dao.assess.AssessModelMultiRelationDao" >

	<insert id="insert" parameterType="com.newIns.model.assess.AssessModelMultiRelation">
		insert into ni_assess_model_multi_relation (
			aqnId,relation,resultSummary,resultDetail,comment
		)
		values (
			#{aqnId},#{relation},#{resultSummary},#{resultDetail},#{comment}
		)
			
	</insert>
	
	<select id="selectAssessResult" parameterType="java.lang.Integer" resultType="com.newIns.model.assess.AssessResult">
		
		SELECT 
			ni_assess_model_multi_relation.relation dimensionStr,
			ni_assess_model_multi_relation.resultSummary,
			ni_assess_model_multi_relation.resultDetail
			FROM ni_assess_model_multi_relation
			WHERE aqnId = #{aqnId}
		
	</select>

</mapper>