<?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper .//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.newIns.dao.BotAdDao">
    <resultMap type="com.newIns.model.BotAdvert" id = "botAdMap">
    	<result property="adId" column="adId" />
		<result property="adPosDes" column="adPosDes" />
		<result property="adLink" column="adLink" />
		<result property="adImg" column="adImg" />
		<result property="adTitle" column="adTitle" />
	</resultMap>
	
	<select id="getBotAd" resultMap="botAdMap" parameterType="int" statementType="CALLABLE">
		{call botAd(#{id})}
	</select>
	
</mapper>	
	
	
		
  
  