<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newIns.dao.assess.NiAssessModelMultiSumMapper">
	
	<sql id="BASE_SQL">
		aqnId,dimension,resultSummary,resultDetail,comment
	</sql>
	
	<!-- 保存多维度测评模型 -->
	<insert id="insert" parameterType="com.newIns.model.assess.NiAssessModelMultiSum">
		INSERT INTO ni_assess_model_multi_sum (aqnId,DIMENSION,resultSummary,resultDetail,priority,COMMENT)
		VALUES (#{aqnId},#{dimension},#{resultSummary},#{resultDetail},#{priority},#{comment})
	</insert>
	
	<select id="findByAqnId" parameterType="java.lang.Integer" resultType="com.newIns.model.assess.NiAssessModelMultiSum">
		SELECT 
		<include refid="BASE_SQL"/>
		FROM ni_assess_model_multi_sum WHERE aqnId = #{id}

	</select>
	
	<!-- 查询维度对应测评结果 -->
	<select id="selectDetailResult" parameterType="hashmap" resultType="com.newIns.model.assess.NiAssessModelMultiSum">
		SELECT *
		FROM ni_assess_model_multi_sum 
		WHERE ni_assess_model_multi_sum.aqnId = #{aqnId}
		AND ni_assess_model_multi_sum.dimension = #{dimension}
		
	</select>
	<!-- 查询多维度关联输出 详情结果 -->
	<select id="selectDetailRelationResult" parameterType="hashmap" resultType="com.newIns.model.assess.AssessModelMultiRelation">
		SELECT *
		FROM ni_assess_model_multi_relation
		WHERE ni_assess_model_multi_relation.aqnId = #{aqnId}
		AND ni_assess_model_multi_relation.relation = #{dimensionStr}
	</select>
	
	<!-- 查询测评模型 结果页列表 -->
  <select id="selectAssessResult" resultType="com.newIns.model.assess.AssessResult" parameterType="java.lang.Integer">
	SELECT
		ni_assess_model_multi_sum.dimension,
		ni_assess_model_multi_sum.resultSummary,
		ni_assess_model_multi_sum.resultDetail
		FROM ni_assess_model_multi_sum
		WHERE aqnId = #{aqnId}
<!-- 	UNION
	SELECT 
		ni_assess_model_multi_relation.relation dimensionStr,
		ni_assess_model_multi_relation.resultSummary,
		ni_assess_model_multi_relation.resultDetail
		FROM ni_assess_model_multi_relation
		WHERE aqnId = #{aqnId} -->
				
  </select>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.newIns.model.assess.NiAssessModelMultiSum">
		update ni_assess_model_multi_sum
		<set>
			<if test="resultSummary != null and resultSummary != '' ">
				resultSummary = #{resultSummary},
			</if>
			<if test="resultDetail != null and resultDetail != '' ">
				resultDetail = #{resultDetail},
			</if>
			<if test="comment != null and comment != '' ">
				comment = #{comment},
			</if>
		</set>
		where aqnId = #{aqnId} and dimension = #{dimension}
	</update>
	
	<update id="updateDetailResult" parameterType="hashmap">
		UPDATE ni_assess_model_multi_sum
			SET ni_assess_model_multi_sum.resultDetail = #{resultDetail}
			WHERE ni_assess_model_multi_sum.aqnId = #{aqnId}
			AND ni_assess_model_multi_sum.dimension = #{dimension}
		
	</update>
	
	<update id="updateDetailRelationResult" parameterType="hashmap">
		UPDATE ni_assess_model_multi_relation
			SET ni_assess_model_multi_relation.resultDetail = #{resultDetail}
			WHERE ni_assess_model_multi_relation.aqnId = #{aqnId}
			AND ni_assess_model_multi_relation.relation = #{dimensionStr}
	    
	</update>
	
	<!-- 编辑测评结果 -->
	<update id="update_AssessResult" parameterType="com.newIns.model.assess.AssessResult">
		UPDATE ni_assess_model_multi_sum
			<set>
				<if test="resultSummary != null and resultSummary != '' ">
					resultSummary = #{resultSummary},
				</if>
				<if test="priority != null ">
					priority = #{priority},
				</if>
			</set>
		WHERE 
			aqnId = #{aqnId} AND dimension = #{dimension}
	</update>
	
	<!-- 编辑多维度 联合输出 -->
	<update id="update_AssessResult_Relation" parameterType="com.newIns.model.assess.AssessResult">
		UPDATE ni_assess_model_multi_relation
			SET 
			resultSummary = #{resultSummary}
			WHERE 
			aqnId = #{aqnId} AND relation = #{dimensionStr}
	</update>
	
</mapper>
