<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newIns.dao.user.SchoolDictDao">
	
	<select id="select_key" parameterType="java.lang.Integer" resultType="com.newIns.productPack.pojo.SchoolDict">
		SELECT *
			FROM ni_school_dict 
			WHERE ni_school_dict.schoolId = #{id}
	</select>
	


</mapper>